body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  /* Making sure jumbotron looks good and all content is centered and displayed properly */
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  /* When present time has passed previous timeblocks for a particular day, they turn light red and have 
  a line struck through the text */
  background-color: rgb(233, 133, 133);
  color: white;
  text-decoration: line-through;
}

.present {
  /* When present time = current time for a particular day, background is white and text color is black */
  background-color: white;
  color: black;
}

.future {
  /* when present time is before a time set in a time block for a given day, color changes to light green
  and the text color is changed to white */
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  /* Allows for user to see physical change in save button when it is pressed */
  transition: all .3s ease-in-out;
}
